.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;

}

.container div {
    background-color: antiquewhite;
    margin: 10px;
    padding: 20px;
    font-size: 24px;

}