body{
    font-family: Arial, Helvetica, sans-serif;
     background-color: aqua;
}
h1{
    text-align: center;
    color: bisque;
}
form{
    width: 300px;
    margin: 100px;
    padding: 20px;
    /*border:1px solid #ccc;*/
    border: solid;
    border-color: black;
    margin-left: 600px;
}
label{
    display: block;
    margin-top: 20px;
}
input{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}
button{
    width: 100px;
    height: 50px;
    margin-top: 15px;
    padding: 10;
    background-color: burlywood;
    color: coral;
    border: none;
    cursor: pointer;
}
p{
    font-size: small;
    color: darkseagreen;
    cursor: pointer;
}
button:hover{
    background-color: dodgerblue;
}